@import '../../abstract/variables';

.hero{

    margin-top: 64px;

    &__illustration{
        position: relative;
        z-index: -1;
        
        .illustration__img{
            width: 310px;
            max-height: 202px;
        }

        .illustration__shadow{
            width: 300px;
            height: 160px;
            background-color: $soft-blue;
            position: absolute;
            top: 50px;
            right: -24px;
            z-index: -1;
            border-radius: 0 0 0 100px;
        }

    }

    &__text{
        margin-top: 40px;

        .buttons-container{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}