@import './variables';
:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: $font-family;
    color: $very-dark-blue;
}

body{
    background-color: $white;
}

button{
    height: 40px;
    border-radius: 4px;
    font-weight: $font-bold;
}

.container{
    margin: 0 24px;
}

.title{
    font-size: 2.8rem;
    text-align: center;
    color: $very-dark-blue;
}

.paragrapher{
    color: $grayish-blue;
    text-align: center;
    font-size: 1.6rem;
    margin: 32px 0;
    line-height: 1.5em;
}

.button-icon{
    min-width: 32px;
    min-height: 32px;
    border: none;
    background-color: transparent;
}

.button{
    padding: 16px;
    display: flex;
    align-items: center;
    border: none;

    &--blue{
        background-color: $soft-blue;
        color: $white;
    }

    &--white{
        background-color: $white;
        box-shadow: 0px 2px 2px $grayish-blue ;
    }
}